@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.woff") format(".woff");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBold.woff") format(".woff");
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.woff") format(".woff");
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}
/* --------------- */

body {
  background-color: rgba(186, 190, 194, 0.963);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

button {
  transition: all 300ms;
}

.primary-btn {
  @apply rounded-md border-2 border-[#7f26ba] px-6 py-2 text-center hover:bg-[#7f26ba] hover:text-white focus-visible:bg-[#7f26ba] focus-visible:text-white;
}
.field {
  @apply h-[40px] w-full rounded-md border border-solid border-[#d8c4e6] px-2.5 py-2 font-normal transition duration-300 focus-visible:border-[#7f26ba] focus-visible:outline-none;
}
.field-error {
  @apply absolute mt-[2px] text-[12px] text-red-600;
}

.th-cell {
  @apply w-1/5 cursor-pointer bg-[#7f26ba] px-4 py-[10px] font-bold transition duration-300 first:w-[40px] first:rounded-tl-lg last:w-12 last:rounded-tr-lg;
}
.table-cell {
  @apply w-1/5 px-4 py-2 first:w-auto last:w-12;
}

.scrollbar {
  --thumb-color: #7f26ba;
  --track-color: #b798cd;
  overflow: auto;
  scrollbar-color: auto !important;
}

/* Firefox */
@-moz-document url-prefix() {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--thumb-color) var(--track-color) !important;
  }
}

/* Chrome, Safari, Edge */
@supports selector(::-webkit-scrollbar) {
  .scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: var(--track-color);
    border-radius: 8px;
    margin-top: 50px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--thumb-color);
    border-radius: 8px;
  }
}
